body{
    margin: 0;   
    font-family: "Sour Gummy";
    background-image: url(pictures/picutre1.JPG);
    background-position: center;
    background-size: cover ;
    background-attachment: fixed;
}
main{
   margin-left: 20px;
   margin-right: 20px;
}
header{
    background-color: hsl(150, 50%, 50%);
    text-align: center; 
    padding: 1px;
    font-family: "Sour Gummy";
   

}
.navbar{
    margin: auto;
    background-color: hsl(130, 60%, 40%);
    height: 20px;
}
.navbar ul{
    margin: auto    ;
    list-style-type: none;
    background-color: hsl(150, 70%, 30%);
    text-decoration: none;
    padding: 15px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;   
}
.navbar a{
    margin: auto;
    color:white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(152, 51%, 47%);
}
.navbar li{
    margin: 0 15px;
    float: left;
}
.p{
    te
}
