
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    color: inherit;
   text-decoration: none; 
}

html, body{
    background-color:hsl(98, 36%, 74%) ;
    background-image: url(pictures/bg-pattern2.jpeg);
    background-blend-mode:hard-light;
    font-family: "Inter", sans-serif ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
 .header{
    background-color: hsl(120, 31%, 51%) ;
    border-bottom: 1px solid hsl(98, 36%, 74%);
    background-image: url(pictures/pattern2.jpeg);
    position: fixed;
    width: 100%;
    top: 0px;
 }
 .header_content{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 50px;
    animation: fade 0.5s;
 }
 .logo{
    font-size: 25px;
    letter-spacing: -1.5px;
    font-weight: 600;
 }
 .nav{
    font-size: 15px;
 }
 .nav_list{
   display: flex;
   column-gap: 40px;

 }
 .nav_items{
     
 }
 .nav_link{
    color: hsl(0, 100%, 99%);
    font: weight 500px;
    font-size: 15px;
    transition: all 0.4s;
 }
 .btn{
    background-color: hsl(120, 100%, 20%);
    color: hsl(0, 0%, 100%);
    padding: 7px 10px;
    border-radius: 5000px;
    transition: all 0.4s;
 }
 .btn:hover{
    color: hsl(130, 35%, 62%);
 }
.nav_link:hover{
    color: hsl(130, 35%, 62%);

}

 .main{
    margin-top: 80px; 
    text-align: center; 
    animation: fade-in 2.5s;
  
 }
 .heading{
    color: hsl(120, 100%, 20%);
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
 

 }
 .text{
    line-height: 1.6;
    font-size: 20px;
    max-width: 1000px;
    margin: 0 auto;

 
 }
 footer {
   margin-top: auto;
   background-color:  hsl(120, 31%, 51%) ;
   background-image: url(pictures/pattern2.jpeg);
   color: hsl(0, 0%, 100%);
   text-align: center;
   justify-content: space-between;
   display: flex;   
}


 @media(max-width: 850px){
    .header_content{
        flex-direction: column;
        padding: 15px 0;
        row-gap: 8px;
    }
    .nav_list{
        column-gap: 18px;
    }
    .heading{
        font-size: 40px;
    }
 }
 @keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
 }
 @keyframes fade{
   0%{
      opacity: 0;
      transform: translateY(15px);
   }
   100%{
      opacity: 1;
      transform: translate(0px);
   }
 }