
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    color: inherit;
   text-decoration: none; 
}

html, body{
    background-color:hsl(120, 26%, 89%) ;
    font-family: "Inter", sans-serif ;
    height: 100vh;
    padding-top: 60px;
    margin: 0;
  

}
 .header{
    background-color: hsl(120, 31%, 51%) ;
    border-bottom: 1px solid hsl(130, 70%, 77%);
    position: fixed;
    width: 100%;
    backdrop-filter: blur(6px);
    top: 0px;
 }
 .header_content{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 60px;
 }
 .logo{
    font-size: 25px;
    letter-spacing: -1.5px;
    font-weight: 600;
 }
 .nav{

 }
 .nav_list{
   display: flex;
   column-gap: 40px;

 }
 .nav_items{
     
 }
 .nav_link{
    color: hsl(0, 100%, 99%);
    font: weight 500px;
    font-size: 15px;
    transition: all 0.4s;
 }
 .btn{
    background-color: darkgreen;
    color: white;
    padding: 7px 10px;
    border-radius: 5000px;
    transition: all 0.4s;
 }
 .btn:hover{
    color: hsl(138, 62%, 28%);
 }
.nav_link:hover{
    color: hsl(138, 62%, 28%);

}

 .main{
    margin-top: 80px; 
    text-align: center; 
    animation: fade-in 2.5s;
  
 }
 .heading{
    color: darkgreen;
    font-size: 50px;
    margin-bottom: 20px;
 

 }
 .text{
    line-height: 1.6;
    font-size: 20px;
    max-width: 1000px;
    margin: 0 auto;
 }
 .contentf{
    flex:1;
 }
 .wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
 footer {
    background-color: hsl(120, 31%, 51%) ;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 10px 0;

}
 @media(max-width: 850px){
    .header_content{
        flex-direction: column;
        padding: 15px 0;
        row-gap: 8px;
    }
    .nav_list{
        column-gap: 18px;
    }
    .heading{
        font-size: 40px;
    }
 }
 @keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
 }